.react-root { /* Cambiar esto pq es probable q afecte a otros plugins */
  height: auto;
  width: 100%;
}

#pet-container {
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
}

#pet {
  height: 82px;
  width: 82px;
  position: relative;
  left: 50%;
  top: 70%;
  transform: scaleX(-1);
}

#animation {
  position: relative;
  z-index: 1;
}

#exp-bar-container {
  margin-top: 5px;
}

#exp-bar-border {
  overflow:hidden;
  border: 2px solid #2c2c2c ;
}

#exp-bar {
  position: relative;
  background-color: var(--color-accent);
  height: 16px;
}