@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

.view-content>.virtual-pet {
  width: 100%;
  height: 100%;
  container-type: size;
}

.virtual-pet {
  --vp-top-bar-height: 35px;

  .main {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    font-family: Pixelify Sans;

    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .debug-tools {
    height: 40%;
  }

  /* Plugin*/
  .pet-animations-container {
    width: 100%;
    height: calc(100% - var(--vp-top-bar-height));
  }

  .pet-container {
    position: absolute;
    width: 64px;
    height: 64px;
    color: #fff;
    font-size: 1rem;

    bottom: 5%;
  }

  .pet {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top;
    object-fit: none;

    image-rendering: pixelated;
  }

  .pet-accessory {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: none;

    image-rendering: pixelated;
  }

  .pet-accessory-hidden {
    display: none;
  }

  .pet-level {
    position: absolute;
    width: max-content;
    text-shadow: 0 0 3px #000;
    font-size: 0.9rem;
    margin: 0;
    bottom: 64px;
    transform: scaleX(1) !important;
  }

  .animations-text {
    position: absolute;
    top: 20%;
    color: #000;
    font-size: 2.5rem;
    justify-self: center;
    z-index: 10;
    text-shadow: 0px 0px 4px #fff;
    animation: 400ms cubic-bezier(0.55, 0.09, 0.68, 0.53) infinite alternate pop-in-out;
  }

  /* Top Bar */
  .top-bar {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: var(--vp-top-bar-height);
    padding-inline: 10px;
    background-color: #0007;
  }

  .top-bar-coins {
    display: flex;
    cursor: pointer;

    img {
      height: 32px;
      image-rendering: pixelated;
      align-self: center;
    }
  }

  .coins-count {
    height: 100%;
    margin: 0;
    align-content: center;
    color: #ccc;
  }

  /* Experience Bar */

  .exp-bar-container {
    /*position: relative;*/
    color: #fff;
    margin-block: 5px;
  }

  .top-bar:hover {
    .exp-info {
      opacity: 100%;
      top: var(--vp-top-bar-height);
    }
  }

  .exp-info {
    position: absolute;
    margin: 0;
    font-size: 1rem;
    top: 0px;
    opacity: 0%;

    transition: top 0.3s ease-out;
  }

  .exp-bar {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid #444;
  }

  .exp-quantity {
    position: absolute;
    width: 0%;
    height: 100%;

    background: #bbb;
  }

  /* Debug Tools */
  .pet-buttons {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .pet-buttons button {
    height: 40px;
    width: 100px;
  }

  .pet-buttons .active {
    box-shadow: inset 0px 0px 10px 0px #bbb;
  }

  .exp-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .exp-buttons button {
    height: 40px;
    width: 80px;
    font-size: 1.7rem;
  }

  @keyframes pop-in-out {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  @container (max-width: 200px) {
    * {
      --vp-top-bar-height: 25px;
    }

    /* Top Bar */
    .top-bar {
      padding-inline: 5px;
    }

    .top-bar-coins img {
      height: 23px;
    }

    .pet-container {
      bottom: 0;
    }

    .coins-count,
    .exp-info {
      font-size: 0.8rem
    }
  }

  @container (min-width: 285px) {
    * {
      --vp-top-bar-height: 41px;
    }

    /* Top Bar */
    .top-bar {
      grid-template-columns: 73% 27%;
    }

    .top-bar-coins img {
      height: 39px;
    }

    .pet-container {
      bottom: 10%;
    }

    .coins-count,
    .exp-info {
      font-size: 1.2rem
    }
  }
}

/* Shop */

.virtual-pet-shop-modal {
  width: 75%;
  height: 100%;
  font-family: Pixelify Sans;
  color: #000;
  padding: 0;
  border: 2px solid #000;
  border-radius: 0;
}

.virtual-pet-shop-modal {

  .modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    margin: 0;
    border: 2px solid #000;
  }

  .modal-header h1 {
    font-size: 2.2rem;
  }

  .modal-content {
    display: flex;
    background-color: #777;
  }

  .modal-content>* {
    border: 2px solid #000;
  }

  .coins-container {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }

  .coins-container span {
    text-align: center;
  }

  .coins-container img {
    height: 43px;
  }

  /* Filter */

  .filter {
    width: 20%;
    font-size: 1.5rem;
    padding: 10px;
  }

  .accordion {
    margin-bottom: 10px;
  }

  .accordion-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .accordion-info span {
    font-size: 1rem;
  }

  .accordion-content {
    margin: 0;
    padding-left: 10px;
  }

  .accordion-closed {
    height: 0;
    overflow: hidden;
  }

  .accordion-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
  }

  /* Items */
  .items-container {
    width: calc(100% - 150px);
    padding-left: 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .shop-item {
    border: 2px solid #000;

    img {
      padding: 12px;
      box-sizing: border-box;
      width: 100%;
      object-fit: contain;
      image-rendering: pixelated;
      background-color: #999;
    }
  }

  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 2px solid #000;
    padding: 12px;
  }

  .item-name {
    margin: 0;
    font-size: 1.2rem;
  }

  .item-price {
    font-size: 1rem;
  }
}
