#pet-container {
  height: 15rem;
  background-size: contain;
  display: flex;    
  align-items: center;
}
#pet {
  height: 82px;
  width: 82px;
  position: relative;
  left: 50%;
  top: 25%;
  transform: scaleX(-1);
}

#animation {
  position: relative;
  z-index: 1;
}

#exp-bar-container {
  margin-top: 5px;
}

#exp-bar-border {
  overflow:hidden;
  border: 2px solid #2c2c2c ;
}

#exp-bar {
  position: relative;
  height: 16px;
}